.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 60rem;
  text-align: center;
}

.statsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats h1 {
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.stats h2 {
  font-size: 2.5rem;
  color: var(--brand-darkest);
  margin: 1rem;
}

/* .wrapper > div:nth-of-type(1) {
  align-self: flex-start;
} */

/* .window {
  border: 3px solid var(--brand-lightest);
  border-radius: 0.5rem;
  background: var(--brand-white);
} */

.windowHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.5rem 1rem;
  padding-top: 0.7rem;
  border-bottom: 3px solid var(--brand-lightest); */
}

/* .windowButton {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.windowButton:nth-of-type(1) {
  color: var(--brand-dark);
}
.windowButton:nth-of-type(2) {
  color: var(--brand);
}
.windowButton:nth-of-type(3) {
  color: var(--brand-lighter);
}

.filler {
  visibility: hidden;
} */

.title {
  font-weight: 700;
  font-size: 2rem;
  color: var(--brand);
}

.description {
  padding: 2rem;
  padding-top: 1rem;
  font-size: large;
}

@media (max-width: 960px) {
  .wrapper {
    max-width: 100%;
  }
  .description {
    padding: 1.2rem;
  }
  .statsWrapper{
    flex-direction: column;
  }
}
