.title {
  margin: var(--gap) var(--gap);
  display: flex;
  align-items: center;
}

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  margin: 1rem 4rem;
}

.arrow {
  transition: 200ms ease-in-out;
  font-size: 2rem;
  min-width: 3rem;
  max-width: 3rem;
}

.open .arrow {
  transform: rotate(45deg);
}

.accordionItemButton {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

.accordionItemButton {
  flex: 1;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  display: flex;
  justify-content: space-between;
}
.accordionItemButton:hover {
  background: var(--brand-op-dark);
  color: white;
}

.open .accordionItemButton {
  background: var(--brand);
  color: white;
}

.accordionItemPanel {
  overflow-y: hidden;
  max-height: 0;
  margin: var(--gap-half) var(--gap);
  transition: all 300ms ease-out;
}

.open .accordionItemPanel {
  max-height: 100rem;
  transition: all 1s ease-in;
}

.answer {
  overflow: hidden;
  width: 100%;
  height: auto;
}


.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Mobile Styles */
@media (max-width: 960px) {
  .accordion {
    width: 100%;
    padding: 0;
  }
  .title{
    margin: var(--gap-half) var(--gap);
    font-size: 1.125rem;
  }
}
