.countdown{
  text-align: center;
  margin: 0;
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1rem;
  padding: 0.2rem 0;
  border-top: 2px solid var(--brand);
  border-bottom: 2px solid var(--brand);
  font-weight: 700;
  color: var(--brand);
}

.number {
  display: flex;
  flex-direction: row; 
  font-size: 3rem;
  color: var(--brand-darkest);
}

.number * {
  margin: 0 0.3rem;
  padding: 1rem;
  border-radius: 5px;
  background: #f2e3ca;
}
.number *:first-of-type {
  margin-left: 0;
}
.number *:last-of-type {
  margin-right: 0;
}

.number *:hover {
  background: #e9d3ac;
}

.separator {
  padding: 1.2rem 0.5rem 0 0.5rem;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--brand-darkest);
}

.label {
  color: var(--brand-darkest);
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 375px) {
  .header {
    font-size: 1.2rem;
  }
  .number * {
    margin: 0 0.1rem;
    padding: 0.4rem;
    font-size: 1.5rem;
  }
  .label {
    font-size: 1rem;
  }
  .separator {
    padding: 0.4rem 0.2rem 0 0.2rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 375px) and (max-width: 420px) {
  .header {
    font-size: 1.2rem;
  }
  .number * {
    margin: 0 0.1rem;
    padding: 0.5rem;
    font-size: 1.6rem;
  }
  .label {
    font-size: 1.1rem;
  }
  .separator {
    padding: 0.6rem 0.2rem 0 0.2rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 420px) and (max-width: 530px) {
  .header {
    font-size: 1.5rem;
  }
  .number * {
    margin: 0 0.1rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .label {
    font-size: 1.2rem;
  }
  .separator {
    padding: 0.8rem 0.3rem 0 0.3rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 530px) and (max-width: 760px) {
  .header {
    font-size: 1.5rem;
  }
  .number * {
    margin: 0 0.2rem;
    padding: 0.6rem;
    font-size: 2.5rem;
  }
  .label {
    font-size: 1.5rem;
  }
  .separator {
    padding: 1rem 0.3rem 0 0.3rem;
    font-size: 2rem;
  }
}

@media (max-width: 760px) {
  .container {
    width: 100%;
  }
}