.countdown {
  text-align: center;
  margin: 0;
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 36rem;
}

.header {
  margin-bottom: 1rem;
  color: var(--brand-dark);
  border-top: 0.125rem solid var(--brand-dark);
  border-bottom: 0.125rem solid var(--brand-dark);
  font-weight: 700;
}

.number {
  display: flex;
  flex-direction: row; 
  font-size: 3rem;
  color: var(--brand-darkest);
}

.number * {
  margin: 0 0.3rem;
  padding: 1rem;
  border-radius: 0.313rem;
  background: #f2e3ca;
}
.number *:first-of-type {
  margin-left: 0;
}
.number *:last-of-type {
  margin-right: 0;
}

.number *:hover {
  background: #e9d3ac;
}

.separator {
  padding: 1.2rem 0.5rem 0 0.5rem;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--brand-darkest);
}

.label {
  color: var(--brand-darkest);
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 11rem;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.25rem;
  background-color: var(--brand);
  color: #fff9ef;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: var(--brand-dark);
}

@media (max-width: 375px) {
  .header {
    font-size: 1.2rem;
  }
  .number * {
    margin: 0 0.1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .label {
    font-size: 1rem;
  }
  .separator {
    padding: 0.4rem 0.2rem 0 0.2rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 375px) and (max-width: 420px) {
  .header {
    font-size: 1.3rem;
  }
  .number * {
    margin: 0 0.1rem;
    padding: 0.7rem;
    font-size: 1.6rem;
  }
  .label {
    font-size: 1.1rem;
  }
  .separator {
    padding: 0.6rem 0.2rem 0 0.2rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 420px) and (max-width: 530px) {
  .header {
    font-size: 1.3rem;
  }
  .number * {
    margin: 0 0.1rem;
    padding: 0.7rem;
    font-size: 2rem;
  }
  .label {
    font-size: 1.2rem;
  }
  .separator {
    padding: 0.8rem 0.3rem 0 0.3rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 530px) and (max-width: 760px) {
  .header {
    font-size: 1.5rem;
  }
  .number * {
    margin: 0 0.2rem;
    padding: 0.9rem;
    font-size: 2.5rem;
  }
  .label {
    font-size: 1.5rem;
  }
  .separator {
    padding: 1rem 0.3rem 0 0.3rem;
    font-size: 2rem;
  }
}

@media (max-width: 760px) {
  .container {
    width: 100%;
    min-width: 0;
  }
}