.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  /* border-top: 1px solid #eaeaea; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 0.5rem 0.2rem;
  font-size: 2rem;
  color: var(--brand-darkest);
}

.icon:hover {
  color: var(--brand);
  cursor: pointer;
}

.caption {
  font-weight: 600;
  color: var(--brand-darkest);
}

@media (min-width: 1024px) {
  .socialWrapper {
    display: none;
  }
}