:root {
  /* Spacing */
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --small-gap: 4rem;
  --big-gap: 4rem;
  --main-content: 45rem;
  --radius: 8px;
  --inline-radius: 5px;

  --brand: #ff8a00;
  --brand-light: #d99f30;
  --brand-lighter: #ffb46f;
  --brand-lightest: #ffe5bf;
  --brand-white: #faf6f1;
  --brand-dark: #de6e1d;
  --brand-darkest: #7d3c17;
  --brand-op: #0039a9;
  --brand-op-light: #a6bff0;
  --brand-op-dark: #ff9c54;
  --gray-1: #3a3838;
  --gray-2: #646464;
  --gray-3: #97908a;
  --gray-4: #b6b6b6;
  --gray-5: #f0efef;
  --bg: #fff9ef;
  --fg: #111;
  --nav-bg: rgba(255, 249, 239, 0.5);
  --nav-bg-moz: rgba(255, 249, 239, 0.8);
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: var(--bg);
  color: var(--fg);
  overflow: inherit;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

p,
li {
  letter-spacing: -0.33px;
  font-size: 1.225rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--brand-darkest);
  line-height: 1.75;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--brand);
  text-align: center;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.69px;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.47px;
  color: var(--brand-darkest);
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -0.33px;
}
p {
  line-height: 1.75;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.active {
  color: var(--brand);
}