.userlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28rem;
  margin-bottom: 5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0.125rem solid var(--brand-darkest);
  border-radius: 0.313rem;
  color: var(--brand-darkest);
}

.user:last-of-type {
  margin-bottom: 0;
}

.copywrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 28rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.313rem;
  background: #f2e3ca;
  transition: all 100ms ease-in-out;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--brand-darkest);
  cursor: pointer;
}

.copywrapper:hover {
  background-color: #dacbb2;
}

.copybutton, 
.bullet,
.filler {
  font-size: 1.5rem;
}

.filler {
  visibility: hidden;
}

.buttonWrapper {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

@media (max-width: 420px) {
  .userlist,
  .copywrapper {
    font-size: 1rem;
  }
  .copybutton, 
  .bullet,
  .filler {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .userlist,
  .copywrapper {
    width: 100%;
  }
  .buttonWrapper {
    flex-direction: column;
    gap: 0;
  }
}