.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content{
  max-width: 60rem;
  text-align: center;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
}

.header {
  margin-bottom: 0;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 12rem;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--brand);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--brand);
  background-color: var(--bg);
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: var(--brand);
  color: #fff9ef;
}

.button:nth-of-type(2) {
  border: 2px solid var(--brand-dark);
  color: var(--brand-dark);
}

.button:nth-of-type(2):hover {
  background-color: var(--brand-dark);
  color: #fff9ef;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  color: var(--brand);
}


.arrow {
  margin-left: 0.5rem;
}

@media (max-width: 540px) {
  .buttonWrapper {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .buttonWrapper {
    flex-direction: column;
    width: 100%;
  }
  .button {
    width: 100%;
  }
}
