.section {
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  background-color: #fdceae;
}

.bgWrap {
  position: relative;
}

.background {
  z-index: 1;
  position: absolute;
  top: 7%;
  right: -40%;
  width: 90%;
  max-width: 1420px;
  min-width: 1320px;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.wave .shapefill {
  fill: var(--bg);
}

.mainContent {
  z-index: 2;
  position: relative;
  margin: 5rem 0;
  max-width: 60rem;
}

.content {
  text-align: center;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.header {
  margin-bottom: 0;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 11rem;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--brand);
  background-color: var(--bg);
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: var(--brand);
  color: #fff9ef;
}

.button:nth-of-type(2) {
  color: var(--brand-dark);
}

.button:nth-of-type(2):hover {
  background-color: var(--brand-dark);
  color: #fff9ef;
}

.sponsorbutton {
  background-color: var(--brand-darkest);
  color: var(--brand-lighter);
}
.sponsorbutton:hover {
  background-color: var(--brand-lighter);
  color: var(--brand-darkest);
}

.title {
  font-weight: 700;
  font-size: 2rem;
  color: var(--brand);
}

.arrow {
  font-size: 1rem;
  margin-left: 0.5rem;
}

@media (max-width: 540px) {
  .buttonWrapper {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .buttonWrapper {
    flex-direction: column;
    width: 100%;
  }
  .button {
    width: 100%;
  }
  .content{
    font-size: 1.25rem;
  }
  .background {
    display: none;
  }
}
