.section {
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  background-color: #fdceae;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.wave .shapefill {
  fill: var(--brand-lightest);
}

.mainContent {
  margin: 5rem 0;
  max-width: 60rem;
}

.content {
  
  text-align: center;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.header {
  margin-bottom: 0;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10rem;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--brand);
  border-radius: 0.313rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--brand);
  background-color: var(--bg);
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: var(--brand);
  color: #fff9ef;
}

.button:nth-of-type(2) {
  border: 0.125rem solid var(--brand-dark);
  color: var(--brand-dark);
}

.button:nth-of-type(2):hover {
  background-color: var(--brand-dark);
  color: #fff9ef;
}
.button:nth-of-type(3) {
  border: 2px solid var(--brand-darkest);
  color: var(--brand-darkest);
}

.button:nth-of-type(3):hover {
  background-color: var(--brand-darkest);
  color: #fff9ef;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  color: var(--brand);
}

.arrow {
  margin-left: 0.5rem;
}

@media (max-width: 540px) {
  .buttonWrapper {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .buttonWrapper {
    flex-direction: column;
    width: 100%;
  }
  .button {
    width: 100%;
  }
  .content{
    font-size: 1.25rem;
  }
}
