.element {
  width: 100%;
}

.bgWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 50rem;
  overflow: hidden;
  z-index: 0;
}

.main {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  margin: 0 1rem;
}

.intro {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 0 1rem;
  overflow: hidden;
}

.window {
  margin: 0.5rem;
  border: 0.156rem solid var(--brand-darkest);
  border-radius: 0.313rem;
  text-align: center;
  background: var(--nav-bg);
  backdrop-filter: saturate(180%) blur(20px);
  -moz-backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.windowHeader {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.313rem 0.313rem 0 0;
  border-bottom: 0.125rem solid var(--brand-darkest);
  background: var(--nav-bg);
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.windowHeader:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.windowButton {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.windowButton:nth-of-type(1) {
  color: var(--brand-darkest);
}
.windowButton:nth-of-type(2) {
  color: var(--brand-dark);
}
.windowButton:nth-of-type(3) {
  color: var(--brand);
}

.windowContent {
  margin: 3rem 5rem;
}

.title {
  margin: 0 0 1.5rem 0;
  line-height: 1;
  font-size: 5rem;
  z-index: 2;
  width: 100%;
  font-weight: 800;
}

.subintrotext {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #35b442;
}

.title,
.description {
  color: var(--brand-dark);
}

.description {
  margin-top: -1rem;
  line-height: 1.5;
  font-size: 2.75rem;
}

.greeting {
  color: var(--brand-darkest);
  line-height: 1.5;
  margin: -1.5rem 0 1rem 0;
}

.code {
  background: #fafafa;
  border-radius: 0.313rem;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}
.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  z-index: 2;
}

.actionwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.window .primarybutton {
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
}

.primarybutton,
.secondarybutton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.313rem;
  font-weight: 700;
  font-size: 1.25rem;
  transition: all 100ms ease-in-out;
  cursor: pointer;
  width: 10rem;
  margin: 0.3rem;
}

.primarybutton {
  background-color: var(--brand);
  color: #fff9ef;
}

.primarybutton:hover {
  background-color: var(--brand-dark);
}

.actionwrapper button:nth-of-type(2) {
  background-color: var(--brand-light);
}

.actionwrapper button:nth-of-type(2):hover {
  background-color: #d0901b;
}

.secondarybutton {
  background-color: #f2e3ca;
  color: var(--brand);
}
.secondarybutton:hover {
  background-color: var(--brand);
  color: #fff9ef;
}

.invisible {
  opacity: 0;
}

.heroLeft, .heroRight {
  display: none;
}

@-moz-document url-prefix() {
  .window,
  .windowHeader {
    background: var(--nav-bg-moz);
  }
}

@media (max-width: 375px) {
  .date {
    font-size: 1.2rem;
  }
  .greeting {
    padding-top: 0.5rem;
    font-size: 1.2rem;
  }
  .subintrotext {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2.3rem;
  }
  .description {
    font-size: 1.3rem;
  }
}

@media (min-width: 375px) and (max-width: 420px) {
  .date {
    font-size: 1.3rem;
  }
  .greeting {
    padding-top: 0.5rem;
    font-size: 1.3rem;
  }
  .subintrotext {
    font-size: 1.7rem;
  }
  .title {
    font-size: 2.7rem;
  }
  .description {
    font-size: 1.5rem;
  }
}

@media (max-width: 420px) {
  .windowButton {
    font-size: 1rem;
  }
  .actionwrapper a:nth-of-type(1) {
    margin: 0.625rem 0;
  }
  .window .primarybutton {
    font-size: 1.1rem;
  }
  .actionwrapper {
    margin-top: 0.5rem;
  }
}

@media (min-width: 420px) and (max-width: 530px) {
  .date {
    font-size: 1.3rem;
  }
  .greeting {
    font-size: 1.3rem;
  }
  .windowButton {
    font-size: 1rem;
  }
  .subintrotext {
    font-size: 2rem;
  }
  .title {
    font-size: 3.2rem;
  }
  .description {
    font-size: 1.8rem;
  }
}

@media (min-width: 530px) and (max-width: 760px) {
  .date {
    font-size: 1.5rem;
  }
  .greeting {
    font-size: 1.5rem;
  }
  .subintrotext {
    font-size: 2.5rem;
  }
  .title {
    font-size: 4rem;
  }
  .description {
    font-size: 2.2rem;
  }
}

@media (max-width: 720px) {
  .intro {
    transform: translate(-50%, -45%);
  }
  .actionwrapper {
    flex-direction: column;
  }
  .primarybutton,
  .secondarybutton {
    width: 100%;
  }
  .primarybutton {
    margin-top: 0.5rem;
  }
}

@media (max-width: 768px) {
  .window {
    width: 100%;
  }
  .windowContent {
    margin: 6% 4%;
  }
}

@media (min-width: 1024px) {
  .heroLeft, .heroRight {
    display: block;
  }
}

@media (min-width: 1080px) {
  .mobileimage {
    display: none;
  }
  .desktopimage {
    display: flex;
  }
}
