.element {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-lightest);
  min-height: 80vh;
  padding: 0 1rem;
}

.wave2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
  transform: rotateY(180deg);
}

.wave2 .shapefill {
  fill: var(--bg);
}

.section3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 0 1rem;
  background-color: var(--bg);
}

.wave3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave3 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.wave3 .shapefill {
  fill: var(--brand-lightest);
}

.section4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 0 1rem;
  background-color: #fdceae;
}

.wave4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave4 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.wave4 .shapefill {
  fill: var(--bg);
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 11rem;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--brand);
  background-color: var(--bg);
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: var(--brand);
  color: #fff9ef;
}

.button:nth-of-type(2) {
  color: var(--brand-dark);
}

.button:nth-of-type(2):hover {
  background-color: var(--brand-dark);
  color: #fff9ef;
}

.button:nth-of-type(3) {
  color: var(--brand-darkest);
}

.button:nth-of-type(3):hover {
  background-color: var(--brand-darkest);
  color: #fff9ef;
}

.arrow {
  font-size: 1rem;
  margin-left: 0.5rem;
}

@media (max-width: 540px) {
  .buttonWrapper {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .buttonWrapper {
    flex-direction: column;
    width: 100%;
  }
  .button {
    width: 100%;
  }
}