.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-lightest);
  min-height: 80vh;
  padding: 0 1rem;
}

.wave2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
  transform: rotateY(180deg);
}

.wave2 .shapefill {
  fill: var(--bg);
}

.section3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 0 1rem;
  background-color: var(--bg);
}

.wave3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave3 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.wave3 .shapefill {
  fill: var(--brand-lightest);
}

.section4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 0 1rem;
  background-color: #fdceae;
}

.wave4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave4 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.wave4 .shapefill {
  fill: var(--bg);
}