.element {
  width: 100%;
}

.countdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  min-height: 35rem;
  overflow: hidden;
  z-index: 0;
}

.title {
  margin: 0 0 1.5rem 0;
  line-height: 1;
  font-size: 5rem;
  z-index: 2;
  width: 100%;
  font-weight: 800;
}

.subintrotext {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #35b442;
}

.title,
.description {
  color: var(--brand-dark);
}

.description {
  margin-top: -1rem;
  line-height: 1.5;
  font-size: 2.75rem;
}

.schedule {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-lightest);
  min-height: 60vh;
  padding: 0 1rem;
}

.schedule .wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.schedule .wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
  transform: rotateY(180deg);
}

.schedule .wave .shapefill {
  fill: var(--bg);
}

.schedules {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.schedules > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 20rem;
}

.eventGroupTitle {
  text-align: center;
}

.eventGroupTitle > h2 {
  margin: 0;
}

.eventGroupTitle > p {
  margin: 0;
  margin-top: -0.5rem;
  font-weight: 700;
  color: var(--brand-dark);
}

.hidden {
  visibility: hidden;
}

.event {
  display: flex;
  gap: 10px;
  width: 100rem;
  max-width: 20rem;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  background-color: #fdc383;
  cursor: default;
}

.event:hover {
  background-color: #f6b06b;
}

.schedules > div:nth-of-type(2) > .event {
  background-color: #f3975e;
}

.schedules > div:nth-of-type(2) > .event:hover {
  background-color: #ea8349;
}

.schedules > div:nth-of-type(3) > .event {
  background-color: var(--brand-lighter);
}

.schedules > div:nth-of-type(3) > .event:hover {
  background-color: #fca55d;
}

.eventTime,
.eventName {
  font-weight: 700;
}

.schedules > div:nth-of-type(1) > .event > .eventTime {
  color: var(--brand-dark);
}

.schedules > div:nth-of-type(2) > .event > .eventTime {
  color: var(--brand-darkest);
}

.schedules > div:nth-of-type(3) > .event > .eventTime {
  color: #c05e17;
}

.judges {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 0 1rem;
  background-color: var(--bg);
}

.judges .wave {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.judges .wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
  transform: rotateY(180deg);
}

.judges .wave .shapefill {
  fill: var(--brand-lightest);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}

.grid > figure {
  margin: 0;
  width: 150px;
}

.image {
  width: 150px;
}

.link {
  border-radius: 10rem;
}

.name {
  margin: 0.3rem 0;
  line-height: 1.5rem;
  font-weight: 700;
  color: var(--brand-dark);
}

.role {
  margin: 0;
  line-height: 1.5rem;
  color: var(--brand-dark);
}

.resources {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 35rem;
  padding: 0 1rem;
  background-color: #fdceae;
}

.resources .wave {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.resources .wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.resources .wave .shapefill {
  fill: var(--bg);
}

.resourcesWrapper {
  position: relative;
  width: 100%;
  max-width: 68rem;
}

.resourcesBg {
  z-index: 1;
  position: absolute;
  top: -10rem;
  width: 100%;
  max-width: 68rem;
  display: flex;
  justify-content: space-between;
}

.resourcesContent {
  z-index: 2;
  position: absolute;
  top: -6rem;
  width: 100%;
  max-width: 68rem;

}

.resourcesBg > div {
  width: 15rem;
}

.wrapper {
  max-width: 60rem;
  margin: 5rem 0;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 11rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--brand);
  background-color: var(--bg);
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: var(--brand);
  color: #fff9ef;
}

.button.github {
  color: var(--brand-dark);
}

.button.github:hover {
  background-color: var(--brand-dark);
  color: #fff9ef;
}

.button.discord {
  color: var(--brand-darkest);
}

.button.discord:hover {
  background-color: var(--brand-darkest);
  color: #fff9ef;
}

.arrow {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.heroLeft,
.heroRight,
.resourcesLeft,
.resourcesRight {
  display: none;
}

@media (max-width: 375px) {
  .subintrotext {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2.3rem;
  }
  .description {
    font-size: 1.3rem;
  }
}

@media (min-width: 375px) and (max-width: 420px) {
  .subintrotext {
    font-size: 1.7rem;
  }
  .title {
    font-size: 2.7rem;
  }
  .description {
    font-size: 1.5rem;
  }
}

@media (min-width: 420px) and (max-width: 530px) {
  .subintrotext {
    font-size: 2rem;
  }
  .title {
    font-size: 3.2rem;
  }
  .description {
    font-size: 1.8rem;
  }
}

@media (min-width: 530px) and (max-width: 760px) {
  .subintrotext {
    font-size: 2.5rem;
  }
  .title {
    font-size: 4rem;
  }
  .description {
    font-size: 2.2rem;
  }
}

@media (max-width: 540px) {
  .buttonWrapper {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .buttonWrapper {
    flex-direction: column;
    width: 100%;
  }
  .button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .grid{
    justify-content: space-evenly;
  }
}

@media (max-width: 1000px) {
  .schedules {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 40rem;
  }
  .schedules > div {
    max-width: 40rem;
  }
  .event {
    width: 100%;
    max-width: 40rem;
  }
  .hidden {
    display: none;
  }
}

@media (min-width: 1024px) {
  .heroLeft,
  .heroRight,
  .resourcesLeft,
  .resourcesRight {
    display: block;
  }
}