.navbar {
  z-index: 10;
  position: fixed;
  padding: 1.5rem 0;
  top: 0;
  width: 100%;
  background-color: var(--nav-bg);
  backdrop-filter: saturate(180%) blur(20px);
  -moz-backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 20px;
}

.tabs > a {
  font-weight: 750;
  font-size: large;
}

.primarybutton,
.secondarybutton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 750;
  font-size: large;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.primarybutton {
  background-color: var(--brand);
  color: #fff9ef;
}

.primarybutton:hover {
  background-color: var(--brand-dark);
}

.secondarybutton {
  background-color: #f2e3ca;
  color: var(--brand);
}
.secondarybutton:hover {
  background-color: var(--brand);
  color: #fff9ef;
}

@-moz-document url-prefix(){
  .navbar {
    background: var(--nav-bg-moz);
  }
}
