.navbar {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.tabs {
  display: flex;
  gap: 10px;
}

.tabs > a {
  padding: 1rem 0;
  font-weight: 750;
  margin-right: 2rem;
  font-size: large;
}
