.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding: 0.7rem 0;
  border-top: 2px solid var(--brand-dark);
  border-bottom: 2px solid var(--brand-dark);
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--brand-dark);
}

.icon {
  margin-bottom: 0.2rem;
}

.number {
  margin-left: 0.2rem;
  font-weight: 800;
}

.text {
  margin-left: 0.5rem;
}

@media (max-width: 375px) {
  .text {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .wrapper {
    font-size: 1.2rem;
  }
  .text {
    margin-left: 0.3rem;
  }
}

@media (min-width: 420px) and (max-width: 760px) {
  .wrapper {
    font-size: 1.5rem;
  }
}