.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 120vh;
  padding: 5.5rem 1rem;
  max-width: 80rem;
}

.button {
  display: flex;
  width: 28rem;
  height: 3rem;
  margin: 0.3rem 0;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: inherit;
  border: none;
  border-radius: 0.2rem;
  background-color: #dacbb2;
  font-size: 1.2rem;
  color: var(--brand-darkest);
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #c9b695;
  box-shadow: 0 0.375rem 1rem 0 rgba(98, 99, 99, 0.1);
}

.home {
  background-color: var(--brand-light);
  color: var(--bg);
}

.home:hover {
  background-color: #d0901b;
}

.link {
  font-weight: 600;
  color: var(--brand-dark);
}
.link:hover {
  color: var(--brand-darkest);
  cursor: pointer;
}