.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-lightest);
  min-height: 80vh;
  padding: 0 1rem;
}

.wave {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 91px;
}

.wave .shapefill {
  fill: #fdceae;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  margin-bottom: 0;
}

.topAlign {
  justify-content: flex-start;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 2px solid var(--brand-darkest);
  border-radius: 5px;
  font-weight: 700;
  font-size: large;
  color: var(--brand-darkest);
  background-color: var(--bg);
  font-size: 1.25rem;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: var(--brand-darkest);
  color: #fff9ef;
}

.arrow {
  margin-left: 0.5rem;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  max-width: 60rem;
  gap: 1rem;
}

.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.big {
  width: 15rem;
  height: 15rem;
}

.medium {
  width: 12rem;
  height: 12rem;
}

.small {
  width: 10rem;
  height: 10rem;
}

@media (max-width: 720px) {
  .button {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .wrapper h3{
    font-size: 1.25rem;
  }
}
