.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 0 1rem;
  background-color: var(--bg);
}

.wave {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
  transform: rotateY(180deg);
}

.wave .shapefill {
  fill: var(--brand-lightest);
}

.team {
  max-width: 60rem;
  margin: 5rem 0;
}

.team > .grid:nth-of-type(1) {
  margin-bottom: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}

.grid > figure {
  margin: 0;
}

.image {
  width: 150px;
  cursor: pointer;
}

.leaves {
  width: 80px;
  align-items: flex-end;
  transform: translateX(60px) translateY(7px);
}

.link {
  border-radius: 10rem;
}

.name {
  margin: 0.3rem 0;
  line-height: 1.5rem;
  font-weight: 700;
  color: var(--brand-dark);
}

.role {
  margin: 0;
  line-height: 1.5rem;
  color: var(--brand-dark);
}

.committee {
  display: flex;
  flex-direction: column;
}

.committee > h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.committee > div {
  padding: 0.1rem 0;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--brand-dark);
  text-transform: lowercase;
}

.committeeWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.committeeImageGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.imageGroup {
  display: flex;
  gap: 1rem;
  justify-items: center;
}

.laptop {
  width: 15rem;
}
.speechbubble {
  width: 15rem;
}
.girl {
  width: 12rem;
}

@media (max-width: 375px) {
  .committeeImageGroup {
    flex-direction: column;
  }
  .speechbubble {
    display: none;
  }
  .girl {
    display: none;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  .laptop {
    display: none;
  }
}

@media (max-width: 540px) {
  .laptop {
    width: 12rem;
  }
  .speechbubble {
    width: 12rem;
  }
  .girl {
    width: 9rem;
  }
}

@media (max-width: 768px) {
  .grid{
    justify-content: space-evenly;
  }
  .grid > figure {
    width: 150px;
  }
  .committee{
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .committeeWrapper {
    flex-direction: column;
  }
  .committeeImageGroup {
    width: 100%;
    justify-content: space-around;
  }
}